#root {
  max-width: 1280px;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centruje poziomo */
  align-items: center; /* Centruje pionowo */
  min-height: 100vh; /* Wysokość rodzica - pełna wysokość widoku */
  margin: 0;
}

h1 {
  margin: 40px;
}
